* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0px;
/*    border: 1px solid red;*/
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

#date_time{
    float: right;
    font-style: bold;
    font-family: Arial;
    font-size: 1.2em;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    margin-bottom: 20px;
 }

 .form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

 }

 .form img{
    width: 5%;
 }

 .form input{
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
 }

 #namaPerusahaan{
    text-align: center;
    font-style: bold;
    font-size: 2em;
    font-family: Calibri;
 }

 hr{
    width: 70%;
    border-top: 1px solid #ccc;
    color: black;
 }

 .control-label img{
    height: 40px;
    width: 60px;
    padding-left: 3%;
    margin-left: 70%;
 }

 body {
   transform: scale(1.1);
   transform-origin: 10% 10%;
}