* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0px;
/*    border: 1px solid red;*/
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

#date_time{
    float: right;
    font-style: bold;
    font-family: Arial;
    font-size: 1.2em;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    margin-bottom: 20px;
 }

 .form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

 }

 .form img{
    width: 5%;
 }

 .form input{
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
 }

 #namaPerusahaan{
    text-align: center;
    font-style: bold;
    font-size: 2em;
    font-family: Calibri;
 }

 hr{
    width: 70%;
    border-top: 1px solid #ccc;
    color: black;
 }

 .control-label img{
    height: 40px;
    width: 60px;
    padding-left: 3%;
    margin-left: 70%;
 }

 body {
   /*transform: scale(1.1);*/
   transform-origin: 10% 10%;
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}