.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.navbar{
	background-color: #ea8735;
    position: fixed;
    top:0;
    width: 90%;
    margin-left: 20%;
}

strong{
	font-weight: bold;
	color: black;
}

.table{
    width: 85%;
    float: left;
}

.table th{
    text-align: center;
}

#judulHalaman{
    text-align: center;
}

.navbar-right {
    float: right!important;
    margin-right: 15%;
}

.row{
    margin-right: -1%;
    margin-left: 0%;
}

#mainBody{
    margin-top: 5%;
    margin-left: 0%;
}

#mainMap{
    margin-top: 0%;
}

#addMenu{
    margin-left: 45%;
}


